@media (max-width: 1000px) {
    
    // hide tagline
    .tagline span {
        display:none;
    }
}

@media (max-width: 720px) {
    
    article {
        // reduce padding between image and article
        padding-top:30px;
        
        // reduce margins so article is wider
        .container > header, .container > section, .container > footer {
            margin:1.5em 10%;
        }
        
        // display code blocks and full-width images inline with text (instead of shifted-left)
        .full, pre {
            margin:1em 0;
        }
        
        // reduce padding of code blocks
        pre {
            padding:1em;
        }
        
        // reduce top/bottom margin of blockquotes and don't extend past right margin
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        // reduce font sizes
        h1 {
            font-size:1.8em;
        }
        
        h2 {
            font-size:1.4em;
        }
        
        p {
            font-size:0.9em;
        }
    }
    
    .blog-cover {
        // reduce height of blog cover image
        height:200px;

        img {
            height:200px;
            width:auto;
        }
        
        // tighten spacing of blog cover text and icons
        section {
            padding:60px 0 0;
            
            a {
                margin:1.5em .5em 0em 0;
            }
        }
        
        // reduce size of blog cover text
        h1 {
            font-size:1.5em;
        }
        
        h3 {
            font-size:1em;
        }
    }
    
    // hide nav (blog, product, about links)
    .site-nav {
        #navigation {
            a {
                display:none;
            }
            
            // don't hide brand logo
            .brand {
                display:inline-block;
            } 
        }
    }
    
    // reconfigure page footer with nav links centered above social links
    .site-footer {
        margin-top:0;
        padding:2em 10%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            padding:1em;
        }
    }
    
    .index {
        // reduce margin of post blocks
        margin:0 10%;
        
        // hide author image
        img {
            display:none;
        }
    }
}