@media (max-width: 1000px) {
    
    // hide tagline
    .tagline span {
        display:none;
    }
}

@media (max-width: 720px) {
    
    article {
        // reduce padding between image and article
        padding-top: 50px;
        
        // reduce margins so article is wider
        .container > header, .container > section, .container > footer {
            margin-left: 2em;
            margin-right: 2em;
        }
        
        // display code blocks inline with text
        .highlight {
            margin-left: 0em;
            margin-right: 0em;
            
            // reduce padding of code blocks
            pre {
                padding: 1em;
            }
        }
        
        // display full-width images inline with text (instead of shifted-left)
        .full {
            margin:1em 0;
        }
        
        // reduce top/bottom margin of blockquotes and don't extend past right margin
        blockquote {
            margin:1em 0;
            
            p {
                font-size:1em;
            }
        }
        
        // reduce font sizes
        h1 {
            font-size:1.8em;
        }
        
        h2 {
            font-size:1.4em;
        }
        
        p {
            font-size:0.9em;
        }
    }
    
    .blog-cover, .article-cover {
        // reduce height of cover image
        height:200px;
    }
        
    .blog-cover {
        // tighten spacing of blog cover text and icons
        section {
            padding: 55px 0 0;
            
            a {
                margin: 1em .5em 0em 0;
            }
        }
        
        // reduce size of blog cover text
        h1 {
            font-size:1.5em;
        }
        
        h3 {
            font-size:1em;
        }
    }
    
    // hide nav (blog, product, about links)
    .site-nav {
        #navigation {
            a {
                display:none;
            }
            
            // don't hide brand logo
            .brand {
                display:inline-block;
            } 
        }
    }
    
    // reconfigure page footer with nav links centered above social links
    .site-footer {
        margin-top:0;
        padding:2em 0%;
        text-align:center;
        
        nav {
            display:block;
            float:none !important;
            margin: 1.2em 0;
        }
    }
    
    .index {
        // reduce margin of article index
        margin:0 10%;
        
        // hide author image
        img {
            display:none;
        }
        
        // reduce spacing between articles in index
        hr {
            margin: 1.5em 0;
        }
    }
}

@media (max-width: 400px) {
    
    article {
        // reduce margins so article is wider
        .container > header, .container > section, .container > footer {
            margin-left: 1em;
            margin-right: 1em;
        }
        
        // move author name closer to author image
        address {
          img {
            margin-right: 10px;
          }
        }
    }
    
    .blog-cover {
        // move title text up slightly and move social icons up, closer to text
        section {
          padding: 50px 0 0;
          
            a {
                margin: .75em .5em 0em 0;
            }
        }
    }
    
    // move brand logo to the left
    .site-nav {
        nav {
          padding-left: 10px;
        }
    }
    
    // move product link to the right
    nav.tagline {
      padding-right: 20px;
    }
    
    // reduce margin of post blocks
    .index {
        margin:0 5%;
    }
}