/* CONFIGURATION */

/* Bodytext font */
$font: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Font for headings */
$fontheadings: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/* Text colors */
$text: #21272d;
$textmuted: #848484;
$accent: #2077b2;


/* IMPORT CSS FILES */
@import "bootstrap";
@import "base";
@import "nav";
@import "article";
@import "icons";
@import "syntax";
@import "responsive";

/* A BIT OF CUSTOMIZATION */
video {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

@media (min-width: 900px) {
  video {
    width: 820px;
    height: auto;
    margin-left: -144px;
  }
}